{% extends 'layout.html' %}

{% block master %}
<body>
<link rel="stylesheet" href="../assests/css/index.css">
<div class="container-xl">
	<div class="table-responsive">
		{% if error %}
			<div class="alert alert-dark" role="alert" id="error-alert">
				{{ error }}
			</div>
		{% endif %}
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Apontamentos de <b>{{ employee.name }}</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addAppointmentModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Appointment</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Seq</th>
						<th>Data criação</th>
						<th>Data de atualização</th>
						<th>Data de início</th>
						<th>Data final</th>
						<th>Tempo total</th>
						<th>Descrição do trabalho</th>
						<th>Ação</th>
					</tr>
				</thead>
				<tbody>
                    {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.seq }}</td>
                            <td>{{ appointment.create_date }}</td>
                            <td>{{ appointment.update_date }}</td>
                            <td>{{ appointment.start_date_format }}</td>
                            <td>{{ appointment.end_date }}</td>
                            <td>{{ appointment.total_time }}</td>
                            <td>{{ appointment.description_work }}</td>
                            <td>
                                <button onclick="editAppointment('{{ appointment.id }}', '{{ appointment.start_date }}', '{{ appointment.enabled }}')" class="btn btn-outline-info" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></button>
                            </td>
                        </tr> 
                    {% endfor %}
				</tbody>
			</table>
			<div class="clearfix">
				<div class="hint-text">Mostrando <b>{{ count(appointments) }}</b> de <b>{{total_appointments}}</b> registros</div>
				<ul class="pagination">
					{% set aux = 1 %}
					{% set qtdPages = qtdPages(total_appointments, range) %}

					{% for aux in range(1, qtdPages) %}
						<li class='page-item {% if page == aux %} active {% endif %}'><a href="?page={{ aux }}" class="page-link">{{ aux }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>        
</div>


<!-- Add Modal HTML -->
<div id="addAppointmentModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="POST" action="/apontamentos">
				<div class="modal-header">						
					<h4 class="modal-title">Adicionar apontamento</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Data inicial do Apontamento</label>
						<input type="datetime-local" class="form-control" name="start_date" required>
					</div>
					<div class="form-group">
						<label>Trabalho Realizado</label>
						<textarea class="form-control" name="description_work" required></textarea>
					</div>
					<div class="form-group">
						<label>É o último apontamento do dia.</label>
						<input class="checkbox-lable" type="checkbox" value="1" id="last_appointment">
					</div>
					<div class="form-group" id="end_date" style="display: none;">
						<label>Data Final</label>
						<input type="datetime-local" class="form-control" name="end_date">
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-success" value="Add">
				</div>
				<input type="hidden" name="id_employee" value="{{ employee.id }}">
			</form>
		</div>
	</div>
</div>


<!-- Edit Modal HTML -->
<div id="editAppointmentModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="update_appointment">
				<input type="hidden" name="id_employee" id="id_employee" value="{{ employee.id }}">
				<input type="hidden" name="id_appointment" id="id_appointment">
				<div class="modal-header">						
					<h4 class="modal-title">Edit Appointment</h4>
					<button type="button" class="closed_update close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Data inicial do Apontamento</label>
						<input type="datetime-local" class="form-control" id="start_date" name="start_date" required>
					</div>
					<div class="form-group">
						<label>Status</label>
						<select class="form-control" id="enabled" name="enabled">
							<option value="1">Ativo</option>
							<option value="0">Inativo</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default closed_update" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-info" value="Save">
				</div>
			</form>
		</div>
	</div>
</div>

<script src="../assests/js/index.js"></script>
<script>

</script>

</body>
</html>

{% endblock %}
